@import "../../reset.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,300;1,600&display=swap');

.signup-container {
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0 5px 20px 0 rgba(43, 46, 207, 0.5);
    animation: fadeIn ease 2s;

    .left-container {
        padding: 40px 50px;
        width: 400px;
        .header-text {
            h1 {
                color: #FF0066;
                font-family: 'Poppins', sans-serif;
                font-size: 24px;
                line-height: 29px;
                overflow: hidden;
                border-right: .15em solid #FF0066;
                white-space: nowrap;
                animation: typing 2s steps(30, end), blink-caret .5s step-end infinite;
                display: inline-block;
            }
            p {
                font-family: 'Open Sans', sans-serif;
                font-style: italic;
                color: #7F8A9C;
                font-size: 18px;
                line-height: 26px;
                margin-top: 20px;
            }
        }
        .signup-form {
            div.field-container {
                position: relative;
                width: 300px;
                margin-top: 20px;
                &:first-child {
                    animation: fieldIn ease 1s;
                }
                &:nth-child(2) {
                    animation: fieldIn ease 1s;
                }
                &:nth-child(3) {
                    animation: fieldIn ease 1s;
                }
                input {
                    background-color: rgba(197, 211, 232, 0.1);
                    border: 2px solid #C5D3E8;
                    border-radius: 6px;
                    opacity: 0.6000000238418579;
                    padding: 12px 30px;
                    width: 100%;
                    &:focus {
                        transition: opacity 0.5s;
                        opacity: 1;
                        & + label {
                            visibility: hidden;
                            &::before {
                                visibility: visible;
                            }
                        }
                    }
                    &:valid {
                        opacity: 1;
                        & + label {
                            visibility: hidden;
                            &::before {
                                visibility: visible;
                            }
                        }
                    }
                    &:not(:placeholder-shown) {
                        & + label {
                            visibility: hidden;
                            &::before {
                                visibility: visible;
                            }
                        }
                    }
                    &:valid.error {
                        label {
                            visibility: hidden;
                            &::before {
                                visibility: visible;
                            }
                        }
                    }
                    &.error {
                        background: url(../../images/error.svg);
                        background-repeat: no-repeat;
                        background-position:95%;
                    }
                }
                input[type=text], input[type=email], input[type=password] {
                    color: #7F8A9C;
                    font-family: 'Open Sans', sans-serif;;
                    font-size: 16px;
                    line-height: 20px;
                    font-weight: 600;
                }
                .form-input.error {
                    opacity: 1;
                    border-color: #FF0066;
                    label {
                        color: #FF0066;
                    }
                }
                label {
                    position: absolute;
                    left: 5px;
                    top: 10px;
                    display: flex;
                    align-items: center;
                    color: #C5D3E8;
                    font-weight: 600;
                    font-style: italic;
                    font-size: 16px;
                    &::before {
                        margin-right: 5px;
                    }
                }
                label[for='name']::before {
                    content: url(../../images/user.svg);
                }
                input.error ~ label[for='name']::before {
                    content: url(../../images/user-error.svg);
                }
                label[for='email']::before {
                    content: url(../../images/email.svg);
                }
                input.error ~ label[for='email']::before {
                    content: url(../../images/email-error.svg);
                }
                label[for='password']::before {
                    content: url(../../images/password.svg);
                }
                input.error ~ label[for='password']::before {
                    content: url(../../images/password-error.svg);
                }
                input[type=text]:not(.error):valid, input[type=email]:not(.error):valid, input[type=password]:not(.error):valid {
                    background: url(../../images/check.svg);
                    background-repeat: no-repeat;
                    background-position:95%;
                }
            }
            input:not(:focus) ~ .error-msg, input:valid ~ .error-msg {
                display: none;
            }
            input:focus:invalid ~ .error-msg, input.error ~ .error-msg {
                animation: error ease 0.5s;
                color: #FF0066;
                font-family: 'Open Sans', sans-serif;
                font-size: 12px;
                font-weight: 600;
                position: absolute;
                display: block;
                margin-top: 5px;
            }
            .form-input.checkbox ~ .error-msg {
                top: 20px;
            }
            .terms-checkbox {
                animation: fieldIn ease 1s;
                margin-top: 30px;
                color: #7F8A9C;
                font-family: 'Open Sans', sans-serif;
                font-size: 14px;
                line-height: 24px;
                display: flex;
                position: relative;
                .checkbox-label {
                    display: block;
                    position: relative;
                    cursor: pointer;
                    .terms-label-text {
                        margin-left: 40px;
                    }
                    .check-mark {
                        position: absolute;
                        top: 0;
                        left: 0;
                        margin-right: 10px;
                        background-color: rgba(197, 211, 232, 0.1);
                        border: 2px solid #C5D3E8;
                        border-radius: 6px;
                        width: 24px;
                        height: 24px;
                        &:after {
                            content: "";
                            position: absolute;
                            display: none;
                            left: 6px;
                            bottom: 5px;
                            width: 4px;
                            height: 9px;
                            border: solid white;
                            border-width: 0 3px 3px 0;
                            -webkit-transform: rotate(45deg);
                            -ms-transform: rotate(45deg);
                            transform: rotate(45deg);
                        }
                    }
                    .form-input[type=checkbox] {
                        visibility: hidden;
                        display: none;
                        &:checked ~ .check-mark {
                            background-color: #FF0066;
                            border: 2px solid #FF0066;
                            &:after {
                                display: block;
                            }
                        }
                    }
                }
                span {
                    color: #FF0066;
                    margin: 0 5px;
                }
            }
            .submit-container {
                position: relative;
                animation: fieldIn ease 1s;
                img {
                    position: absolute;
                    right: 10%;
                    top: 45%;
                }
                &:hover {
                    img {
                        animation: button ease 1s;
                    }
                }
            }
            button[disabled] {
                opacity: 0.5;
                cursor: not-allowed;
            }
            button[type=submit] {
                color: #fff;
                border: none;
                background: transparent;
                padding: 20px 30px;
                background-image: linear-gradient(135deg, #2B2ECF 0%, #652BCF 100%);
                border-radius: 30px;
                font-size: 18px;
                display: flex;
                justify-content: space-between;
                margin-top: 90px;
                width: 300px;
                font-weight: bold;
            }
        }
    }
    .right-container {
        background: url(../../images/1105A94F-0A1C-4CA1-9C63-2099326007C5.jpg);
        background-size: cover;
        width: 400px;
        height: 600px;
        background-position: center;
        position: relative;
        border-radius: 0 20px 20px 0;
        .logo {
            position: absolute;
            right: 30px;
            top: 30px;
        }
    }
}

@media only screen and (max-width: 480px) {
    .signup-container {
        flex-flow: column-reverse;
        .header-text {
            animation: fieldIn ease 1s;
        }
        .right-container {
            border-radius: 20px 20px 0 0;
            height: 200px;
            background-position: bottom;
            box-shadow: 0px -15px 15px 0px white inset;
        }
        button[type=submit] {
            margin-top: 50px;
        }
    }
}
@keyframes fadeIn{
    0% {
        box-shadow: 0 0px 0px 0 rgba(43, 46, 207, 0.5);
    }
    100% {
        box-shadow: 0 5px 20px 0 rgba(43, 46, 207, 0.5);
    }
}
@keyframes fieldIn {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes error {
    0% {
        transform: translateY(-10px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes button {
    0% {
        transform: translateX(-10px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}
/* The typing effect */
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 70%;
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to {
        border-color: transparent
    }
    50% {
        border-color: #FF0066;
    }
}